.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all 2s ease-in-out;
    width: 80%;
    min-width: 20px;
    margin: 4% auto;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border-radius: 10px;
}
.flex div{
    width: 20%;
    margin: 2%;
    margin-top: 5%;
}
.flex div img{
    width: 100%;
    max-height: 12vh;
}
.flex div img:hover{
    transform: scale(1.1);
    transition: .5s;
}
.flex p{
    font-weight: 900;
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    .flex div{
        width: 30%;
    }
    .flex div img{
        height: 300px;
        margin-top: 35%;
    }
    .mobile{
        font-size: 35px!important;
    }
}
@media only screen and (min-width: 840px){
    .flex div{
        width: 25%;
    }
    .flex div img{
        max-height: 7vh;
    }
}
@media only screen and (min-width: 1025px){
    .flex div{
        width: 20%;
    }
    .flex div img{
        max-height: 14vh;
    }
}

